I expanded the discussion of heart diseases I did in problem set 1 and came up with this:    
Research question: How does exposure to extreme heat events affect hospital admissions for cardiovascular disease in the United States?
Hypothesis: Exposure to extreme heat events, as measured by high temperature and heat index values, will increase the risk of hospital admissions for cardiovascular disease, with potentially greater effects in certain regions and for certain demographic groups.
Datasets:
1.	Extreme heat event data from the National Oceanic and Atmospheric Administration (NOAA) National Centers for Environmental Information, downloaded from https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ncdc:C00761.
2.	Cardiovascular disease hospitalization data from the Centers for Disease Control and Prevention (CDC), downloaded from https://www.cdc.gov/dhdsp/data_statistics/index.htm.
3.	Demographic and socioeconomic data from the American Community Survey (ACS), downloaded from https://www.census.gov/programs-surveys/acs.
Variables:
•	Extreme heat events: daily maximum temperature and heat index values for each county in the contiguous United States.
•	Cardiovascular disease hospitalizations: number of hospitalizations for cardiovascular disease for each state (2009-2011)
•	Demographic and socioeconomic: population, median household income, and education level for each state.

In [23]:
import pandas as pd

In [43]:
df1 = pd.read_excel("C:/Users/User/Desktop/Cardio disease hospitalization.xlsx")

In [44]:
df2 = pd.read_excel("C:/Users/User/Desktop/Extreme heat events.xlsx")

In [45]:
df3 = pd.read_excel("C:/Users/User/Desktop/Demographic and socialeconomic data.xlsx")

In [46]:
print(df1)

                   State  Hospitalizations
0                Alabama              62.0
1                Arizona              48.8
2               Arkansas              61.5
3             California              42.8
4               Colorado              35.8
5            Connecticut              52.0
6               Delaware              52.5
7   District of Columbia              48.8
8                Florida              57.5
9                Georgia              55.7
10                 Idaho              31.8
11              Illinois              58.7
12               Indiana              58.1
13                  Iowa              43.0
14                Kansas              47.2
15              Kentucky              70.6
16             Louisiana              63.2
17                 Maine              49.5
18              Maryland              56.9
19         Massachusetts              55.0
20              Michigan              65.3
21             Minnesota              43.8
22           Mississippi              63.2
23              Missouri              58.8
24               Montana              32.3
25              Nebraska              42.8
26                Nevada              45.0
27         New Hampshire              44.1
28            New Jersey              64.7
29            New Mexico              39.0
30              New York              57.4
31        North Carolina              56.5
32          North Dakota              38.4
33                  Ohio              63.5
34              Oklahoma              59.4
35                Oregon              35.6
36          Pennsylvania              62.1
37          Rhode Island              50.2
38        South Carolina              55.6
39          South Dakota              42.1
40             Tennessee              61.9
41                 Texas              51.9
42                  Utah              34.2
43               Vermont              36.9
44              Virginia              51.3
45            Washington              38.9
46         West Virginia              67.4
47             Wisconsin              45.8
48               Wyoming              38.8

In [47]:
print(df2)

                   State  Avg Daily Max Air Temperature (F)  \
0                Alabama                              75.01
1                Arizona                              72.14
2               Arkansas                              73.84
3             California                              68.33
4               Colorado                              56.98
5            Connecticut                              57.92
6               Delaware                              63.07
7   District of Columbia                              65.18
8                Florida                              80.99
9                Georgia                              75.45
10                 Idaho                              52.01
11              Illinois                              62.82
12               Indiana                              62.46
13                  Iowa                              59.02
14                Kansas                              68.80
15              Kentucky                              65.54
16             Louisiana                              79.88
17                 Maine                              50.64
18              Maryland                              62.87
19         Massachusetts                              56.17
20              Michigan                              53.85
21             Minnesota                              52.74
22           Mississippi                              76.31
23              Missouri                              65.97
24               Montana                              51.88
25              Nebraska                              62.18
26                Nevada                              59.08
27         New Hampshire                              52.27
28            New Jersey                              61.20
29            New Mexico                              67.76
30              New York                              54.00
31        North Carolina                              69.55
32          North Dakota                              51.94
33                  Ohio                              60.84
34              Oklahoma                              74.85
35                Oregon                              55.95
36          Pennsylvania                              57.87
37          Rhode Island                              58.30
38        South Carolina                              74.27
39          South Dakota                              57.38
40             Tennessee                              68.20
41                 Texas                              80.66
42                  Utah                              57.26
43               Vermont                              51.40
44              Virginia                              65.68
45            Washington                              54.72
46         West Virginia                              61.19
47             Wisconsin                              54.10
48               Wyoming                              51.58

    Avg Daily Max Heat Index (F)
0                          95.00
1                          88.62
2                          96.66
3                          88.99
4                          85.67
5                          88.50
6                          90.10
7                          91.35
8                          94.82
9                          94.62
10                         83.44
11                         93.60
12                         92.20
13                         91.89
14                         93.34
15                         92.84
16                         96.83
17                         87.12
18                         89.97
19                         88.02
20                         88.85
21                         88.22
22                         96.03
23                         95.28
24                         84.24
25                         89.65
26                         84.46
27                         87.35
28                         89.74
29                         86.19
30                         88.02
31                         92.47
32                         86.74
33                         90.39
34                         96.27
35                         83.03
36                         88.50
37                         88.54
38                         94.60
39                         88.57
40                         93.23
41                         94.60
42                         84.33
43                         87.75
44                         90.52
45                         84.59
46                         88.90
47                         88.90
48                         83.12

In [48]:
print(df3)

                   State Median household income (dollars) Bachelor's degree
0                Alabama                            40,474             13.9%
1                 Alaska                            64,576             18.5%
2                Arizona                            46,789             16.7%
3               Arkansas                            38,307             13.2%
4             California                            57,708             19.1%
5               Colorado                            54,046             23.4%
6            Connecticut                            64,032             20.2%
7               Delaware                            55,847             16.5%
8   District of Columbia                            60,903             23.2%
9                Florida                            44,409             16.6%
10               Georgia                            46,430             17.5%
11                Hawaii                            63,030             19.9%
12                 Idaho                            43,490             16.7%
13              Illinois                            52,972             19.2%
14               Indiana                            44,613             14.6%
15                  Iowa                            47,961             17.1%
16                Kansas                            48,257             19.3%
17              Kentucky                            40,062             12.4%
18             Louisiana                            42,505             14.4%
19                 Maine                            45,815             17.3%
20              Maryland                            68,854             19.7%
21         Massachusetts                            62,072             22.3%
22              Michigan                            45,413             15.6%
23             Minnesota                            55,459             21.5%
24           Mississippi                            36,851             12.4%
25              Missouri                            44,301             16.0%
26               Montana                            42,666             19.8%
27              Nebraska                            48,408             19.6%
28                Nevada                            51,001             14.3%
29         New Hampshire                            61,042             20.4%
30            New Jersey                            67,681             22.1%
31            New Mexico                            42,090             14.2%
32              New York                            54,148             18.6%
33        North Carolina                            43,326             17.8%
34          North Dakota                            48,670             19.7%
35                  Ohio                            45,090             15.7%
36              Oklahoma                            42,072             15.4%
37                Oregon                            46,560             18.3%
38          Pennsylvania                            49,288             16.7%
39          Rhode Island                            52,254             18.1%
40        South Carolina                            42,018             15.8%
41          South Dakota                            45,904             18.6%
42             Tennessee                            41,461             14.6%
43                 Texas                            48,615             17.3%
44                  Utah                            54,744             19.9%
45               Vermont                            49,406             20.3%
46              Virginia                            60,674             20.1%
47            Washington                            55,631             19.9%
48         West Virginia                            38,218             10.9%
49             Wisconsin                            49,001             17.4%
50               Wyoming                            53,512             15.7%

I will rename the variable median household income (dollars) variable in the Demographic and socialeconomic data set to median_income
I will rename Bachelor's degree variable in the Demographic and socialeconomic data to Education
I will rename the Avg Daily Max Air Temperature (F) variable in the extreme heat events to Max_temp
I will drop the variable  Avg Daily Max Heat Index (F) from the Extreme heat events dataset

In [77]:
df2 = pd.read_excel("C:/Users/User/Desktop/Extreme heat events.xlsx")

In [78]:
df2.drop("Avg Daily Max Heat Index (F)", axis=1, inplace=True)

In [79]:
df3 = df3.rename(columns={'Median household income (dollars)': 'median_income'})

In [83]:
df3=df3.rename(columns={'Bachelors degree': 'Education'})

In [84]:
df2 = df2.rename(columns={'Avg Daily Max Air Temperature (F)': 'Max_temp'})

In [85]:
print(df2)

                   State  Max_temp
0                Alabama     75.01
1                Arizona     72.14
2               Arkansas     73.84
3             California     68.33
4               Colorado     56.98
5            Connecticut     57.92
6               Delaware     63.07
7   District of Columbia     65.18
8                Florida     80.99
9                Georgia     75.45
10                 Idaho     52.01
11              Illinois     62.82
12               Indiana     62.46
13                  Iowa     59.02
14                Kansas     68.80
15              Kentucky     65.54
16             Louisiana     79.88
17                 Maine     50.64
18              Maryland     62.87
19         Massachusetts     56.17
20              Michigan     53.85
21             Minnesota     52.74
22           Mississippi     76.31
23              Missouri     65.97
24               Montana     51.88
25              Nebraska     62.18
26                Nevada     59.08
27         New Hampshire     52.27
28            New Jersey     61.20
29            New Mexico     67.76
30              New York     54.00
31        North Carolina     69.55
32          North Dakota     51.94
33                  Ohio     60.84
34              Oklahoma     74.85
35                Oregon     55.95
36          Pennsylvania     57.87
37          Rhode Island     58.30
38        South Carolina     74.27
39          South Dakota     57.38
40             Tennessee     68.20
41                 Texas     80.66
42                  Utah     57.26
43               Vermont     51.40
44              Virginia     65.68
45            Washington     54.72
46         West Virginia     61.19
47             Wisconsin     54.10
48               Wyoming     51.58

In [76]:
print(df3)

                   State median_income Bachelor's degree
0                Alabama        40,474             13.9%
1                 Alaska        64,576             18.5%
2                Arizona        46,789             16.7%
3               Arkansas        38,307             13.2%
4             California        57,708             19.1%
5               Colorado        54,046             23.4%
6            Connecticut        64,032             20.2%
7               Delaware        55,847             16.5%
8   District of Columbia        60,903             23.2%
9                Florida        44,409             16.6%
10               Georgia        46,430             17.5%
11                Hawaii        63,030             19.9%
12                 Idaho        43,490             16.7%
13              Illinois        52,972             19.2%
14               Indiana        44,613             14.6%
15                  Iowa        47,961             17.1%
16                Kansas        48,257             19.3%
17              Kentucky        40,062             12.4%
18             Louisiana        42,505             14.4%
19                 Maine        45,815             17.3%
20              Maryland        68,854             19.7%
21         Massachusetts        62,072             22.3%
22              Michigan        45,413             15.6%
23             Minnesota        55,459             21.5%
24           Mississippi        36,851             12.4%
25              Missouri        44,301             16.0%
26               Montana        42,666             19.8%
27              Nebraska        48,408             19.6%
28                Nevada        51,001             14.3%
29         New Hampshire        61,042             20.4%
30            New Jersey        67,681             22.1%
31            New Mexico        42,090             14.2%
32              New York        54,148             18.6%
33        North Carolina        43,326             17.8%
34          North Dakota        48,670             19.7%
35                  Ohio        45,090             15.7%
36              Oklahoma        42,072             15.4%
37                Oregon        46,560             18.3%
38          Pennsylvania        49,288             16.7%
39          Rhode Island        52,254             18.1%
40        South Carolina        42,018             15.8%
41          South Dakota        45,904             18.6%
42             Tennessee        41,461             14.6%
43                 Texas        48,615             17.3%
44                  Utah        54,744             19.9%
45               Vermont        49,406             20.3%
46              Virginia        60,674             20.1%
47            Washington        55,631             19.9%
48         West Virginia        38,218             10.9%
49             Wisconsin        49,001             17.4%
50               Wyoming        53,512             15.7%

Now that my data is clean, I will merge the three data sets. 
State is a common variable among all the three data sets, I will merge Cardio disease hospitalization data set(df1)
and Extreme heat events data set (df2) on "State"

Then i will used the merged_df above to merge Demographic and social economic data set (df3)on"Sate"

In [95]:
merged_df = pd.merge(df1, df2, on='State')

In [96]:
merged_df = pd.merge(merged_df, df3, on='State')

In [97]:
print(merged_df)

                   State  Hospitalizations  Max_temp median_income  \
0                Alabama              62.0     75.01        40,474
1                Arizona              48.8     72.14        46,789
2               Arkansas              61.5     73.84        38,307
3             California              42.8     68.33        57,708
4               Colorado              35.8     56.98        54,046
5            Connecticut              52.0     57.92        64,032
6               Delaware              52.5     63.07        55,847
7   District of Columbia              48.8     65.18        60,903
8                Florida              57.5     80.99        44,409
9                Georgia              55.7     75.45        46,430
10                 Idaho              31.8     52.01        43,490
11              Illinois              58.7     62.82        52,972
12               Indiana              58.1     62.46        44,613
13                  Iowa              43.0     59.02        47,961
14                Kansas              47.2     68.80        48,257
15              Kentucky              70.6     65.54        40,062
16             Louisiana              63.2     79.88        42,505
17                 Maine              49.5     50.64        45,815
18              Maryland              56.9     62.87        68,854
19         Massachusetts              55.0     56.17        62,072
20              Michigan              65.3     53.85        45,413
21             Minnesota              43.8     52.74        55,459
22           Mississippi              63.2     76.31        36,851
23              Missouri              58.8     65.97        44,301
24               Montana              32.3     51.88        42,666
25              Nebraska              42.8     62.18        48,408
26                Nevada              45.0     59.08        51,001
27         New Hampshire              44.1     52.27        61,042
28            New Jersey              64.7     61.20        67,681
29            New Mexico              39.0     67.76        42,090
30              New York              57.4     54.00        54,148
31        North Carolina              56.5     69.55        43,326
32          North Dakota              38.4     51.94        48,670
33                  Ohio              63.5     60.84        45,090
34              Oklahoma              59.4     74.85        42,072
35                Oregon              35.6     55.95        46,560
36          Pennsylvania              62.1     57.87        49,288
37          Rhode Island              50.2     58.30        52,254
38        South Carolina              55.6     74.27        42,018
39          South Dakota              42.1     57.38        45,904
40             Tennessee              61.9     68.20        41,461
41                 Texas              51.9     80.66        48,615
42                  Utah              34.2     57.26        54,744
43               Vermont              36.9     51.40        49,406
44              Virginia              51.3     65.68        60,674
45            Washington              38.9     54.72        55,631
46         West Virginia              67.4     61.19        38,218
47             Wisconsin              45.8     54.10        49,001
48               Wyoming              38.8     51.58        53,512

   Bachelor's degree
0              13.9%
1              16.7%
2              13.2%
3              19.1%
4              23.4%
5              20.2%
6              16.5%
7              23.2%
8              16.6%
9              17.5%
10             16.7%
11             19.2%
12             14.6%
13             17.1%
14             19.3%
15             12.4%
16             14.4%
17             17.3%
18             19.7%
19             22.3%
20             15.6%
21             21.5%
22             12.4%
23             16.0%
24             19.8%
25             19.6%
26             14.3%
27             20.4%
28             22.1%
29             14.2%
30             18.6%
31             17.8%
32             19.7%
33             15.7%
34             15.4%
35             18.3%
36             16.7%
37             18.1%
38             15.8%
39             18.6%
40             14.6%
41             17.3%
42             19.9%
43             20.3%
44             20.1%
45             19.9%
46             10.9%
47             17.4%
48             15.7%

In [99]:
merged_df.to_excel("C:/Users/User/Desktop/merged_data.xlsx", index=False)